<?php

namespace App\{{_namespace_}};

use JohanCode\PatchRunner\PatchInterface;

class {{_classname_}} implements PatchInterface
{
    public function run(): void
    {
        // Patch Code Here
    }
}
